.pres-rental-infos {
  display: flex;
  justify-content: center;
  padding: 60px 90px 30px 90px;
}

.pres-infos-content {
  width: 100%;
  max-width: 1440px;
  display: flex;
  justify-content: space-between;
}

.pres-infos-content > div {
  display: flex;
  flex-direction: column;
}

.pres-rental-infos .title {
  font-family: "Avenir";
  font-weight: 850;
  text-transform: uppercase;
  color: #353c6f;
  font-size: 22px;
}

.pres-rental-infos .tags {
  font-family: "Montserrat";
  font-weight: 300;
}

.pres-rental-infos .note {
  font-size: 14px;
  font-family: "Montserrat";
  font-weight: 300;
  display: flex;
  align-items: center;
}

.pres-rental-infos .price {
  font-family: "Avenir";
  font-weight: 550;
  color: #353c6f;
  font-size: 22px;
  display: flex;
  justify-content: end;
}

.pres-rental-infos .note > span:first-of-type {
  padding: 0 5px;
}

.pres-rental-infos .note > span:last-of-type {
  text-decoration: underline;
}

.pres-rental-infos .note > span:first-of-type,
.pres-rental-infos .price > span {
  font-family: "Avenir";
  font-weight: 850;
  color: #353c6f;
  font-size: 22px;
}

.rental-advantages {
  padding: 40px 0;
  border-bottom: 1px solid rgba(72, 79, 131, 0.3);
}

.rental-advantages > span {
  font-size: 22px;
  font-family: "Avenir";
  color: #353c6f;
  text-transform: uppercase;
  font-weight: 850;
}

.rental-advantages > div {
  padding-top: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 20px;
}

.rental-advantages .advantage {
  display: flex;
  align-items: center;
}

.rental-advantages .advantage > div {
  height: 60px;
  width: 60px;
  display: block;
  background-color: #e8e8e8;
  margin-right: 20px;
}

.rental-advantages .advantage > span {
  font-family: "Montserrat";
  font-weight: 400;
}
