.popular-rentals {
  padding-bottom: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.popular-rentals > .title {
  font-family: "SignPainter";
  font-size: 40px;
  padding-bottom: 30px;
  color: #353c6f;
}

.popular-rentals > .container-popular-rentals {
  display: flex;
  column-gap: 15px;
}

.container-popular-rentals > .rental-case {
  width: 515px;
}

.rental-case > .rental-pic {
  height: 350px;
  width: 100%;
  background-position: center;
  background-repeat: none;
  background-size: cover;
  border-radius: 5px;
  position: relative;
}

.rental-pic > img {
  position: absolute;
  top: 20px;
  right: 20px;
}

.rental-case > .rental-infos {
  text-align: center;
  padding-top: 5px;
}

.rental-infos > span {
  font-family: "Montserrat";
  font-weight: 400;
}

.rental-case > .rental-title {
  font-family: "Avenir";
  font-size: 22px;
  font-weight: 850;
  text-transform: uppercase;
  color: #353c6f;
  text-align: center;
}

.popular-rentals > button {
  border: none;
  background-color: #353c6f;
  color: #fff;
  font-family: "Avenir";
  font-weight: 850;
  font-size: 22px;
  width: 300px;
  height: 70px;
  border-radius: 5px;
  margin-top: 40px;
  text-transform: uppercase;
}

@media only screen and (max-width: 1120px) {
  .container-popular-rentals {
    flex-direction: column;
  }
  .container-popular-rentals > .rental-case {
    padding-bottom: 20px;
  }
  .popular-rentals > button {
    margin-top: 10px;
  }
}

@media only screen and (max-width: 600px) {
  .popular-rentals > .title {
    font-size: 30px;
    text-align: center;
  }

  .container-popular-rentals > .rental-case {
    width: 300px;
  }

  .rental-case > .rental-pic {
    height: 200px;
  }

  .rental-pic > img {
    height: 18px;
  }

  .rental-case > .rental-title {
    font-size: 18px;
  }
  .popular-rentals > button {
    height: 50px;
    font-size: 18px;
  }
}
